/*  style sheet for index.html */

body {
    background-color: white;
    font-family: Helvetica;
    font-weight: 300;
    background-color: #1f405f;
}


img {
    width: 50%;
    margin-left: 2%;

}

h1 {
    position: absolute; 
    color: #333366;
    font-weight: 400; 
    font-size: 200%;
    margin-left: 67%;
    color: white;
    vertical-align: -600%;
    top: 10%;
}

a:link, a:hover, a:visited, a:active {
     
    font-size: 100%;
    margin-left: 11%;
    font-weight: 500;
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 1%;
}

a:hover {
    color: #1f405f;
}

#resume_link {
    position: absolute;
    left: 54%;
    top: 40%
}
#bio_link {
    position: absolute;
    left: 70%;
    top: 40%;
}
